/text_fiction_awq/
/text_fiction_awq/
/text_magazine_qrb/
/text_magazine_qrb/
/text_magazine_qrb/
/text_magazine_qrb/
/text_spoken_kde/
/text_magazine_qrb/
/text_spoken_kde/
/text_magazine_qrb/
/text_spoken_kde/
/text_magazine_qrb/
/text_spoken_kde/
/vectors-phrase-681320-200.bin
/haikus.txt
/news-lyrics-bom3.bin
/news-lyrics-bom3.txt
/text_magazine_qrb/
/text_spoken_kde/
/.DS_Store
